<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Motor Quotes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <style>
        p{
    font-family: poppins;
}
h1{
    font-family: poppins;
}
h2{
    font-family: poppins;
}
a{
    font-family: poppins;
}
table{
    font-family: poppins;
}
label{
    font-family: poppins;
}
button.btn.btn-primary.update {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: poppins;
    background-color: #5D70D6;
    border: 1px solid #5D70D6;
}
button.btn.btn-primary.update:hover{
    color: #5D70D6;
    background-color: transparent;
    border: 1px solid #5D70D6;

}
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Update Data</h1>
        <form method="POST" action="../../../update">

            {% csrf_token %}
            <input hidden type="text" class="form-control" id="insurance_company" name="id" value="{{ brand.id }}" required>
            <div class="mb-3">
                <label for="insurance_company" class="form-label">Insurance Company</label>
                <input type="text" class="form-control" id="insurance_company" name="insurance_company" value="{{ brand.insurance_company }}" required>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ brand.name }}">
            </div>
            <div class="mb-3">
                <label for="models" class="form-label">Models</label>
                <input type="text" class="form-control" id="models" name="models" value="{{ brand.model }}" required>
            </div>
            <div class="mb-3">
                <label for="zd" class="form-label">ZD</label>
                <input type="number" class="form-control" id="zd" name="zd" value="{{ brand.zd }}" step="any">
            </div>
            <div class="mb-3">
                <label for="con" class="form-label">CON</label>
                <input type="number" class="form-control" id="con" name="con" value="{{ brand.con }}" step="any">
            </div>
            <div class="mb-3">
                <label for="engine" class="form-label">Engine</label>
                <input type="number" class="form-control" id="engine" name="engine" value="{{ brand.engine }}" step="any">
            </div>
            <div class="mb-3">
                <label for="tyre" class="form-label">Tyre</label>
                <input type="number" class="form-control" id="tyre" name="tyre" value="{{ brand.tyre }}" step="any">
            </div>
            <div class="mb-3">
                <label for="rti" class="form-label">RTI</label>
                <input type="number" class="form-control" id="rti" name="rti" value="{{ brand.rti }}" step="any">
            </div>
            <button type="submit" class="btn btn-primary update">Update</button>
        </form>
    </div>
</body>
</html>
